* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

#head {
  height: 10vh;
  background-color: blue;
  color: white;
}

/* #headPrimer {
  height: 10vh;
  background-color: white;
  color: black;
} */

#aside {
  position: fixed;
  float: left;
  margin: auto;
  width: 20%;
  height: 85vh;
  background-color: green;
  color: white;
}

#section {
  overflow: auto;
  float: right;
/*   margin: -10vh auto; */
  width: 80%;
  height: 85vh;
  background-color: orange;
  color: black;
}

/* #footerPrimer {
  position: fixed;
  clear: both;
  height: 5vh;
  background-color: white;
  color: black; 
} */

#footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background-color: blue;
  color: white;
}